*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    height: 160px;
    width: 100vw;
    background: orange;
}
.nav-container{
    position: relative;
    top: 50px;
    left: 140px;
    height: 70px;
    width: 80vw;
    /* border: 2px solid black; */
    /* background: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-img{
    height: 50px;
}
.nav-list{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.get_the_App{
    padding: 15px;
    border: 1px solid white;
    height: 60px;
    border-radius: 20px;
}
.signin_btn{
    padding: 15px;
    border: 1px solid white;
    background-color: black;
    height: 60px;
    border-radius: 20px;
}
/* ======================================================= */
.main-container{
    height: 600px;
    width: 100vw;
    background: orange;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.left
.main-text{
    font-size: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;

}
.input-box{
 display: flex; 
 gap: 20px; 
  
}
.main-text h1{
    color: white;
}
.loc-box{
    height: 60px;
    background: white;
    border-radius: 20px;
    padding: 10px 10px;

}
.loc-box input{
    height: 40px;
    width: 250px;
    /* border-radius: 10px; */
    outline: none;
    border: none;
}
.loc-box i{
    font-size: 25px;
    color: red;
}
.search-box{
    height: 60px;
    background: white;
    border-radius: 20px;
    padding: 10px 10px;
}
.search-box input{
    height: 40px;
    width: 350px;
    /* border-radius: 10px; */
    outline: none;
    border: none;
}
.search-box i{
   font-size: 25px;
}
.main-card{
    background: green;
    display: flex;
    gap: 20px;
}
.card{
    background: red;
    height: 250px;
    width: 35%;
}