*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    height: 160px;
    width: 100vw;
    background: rgb(255, 115, 0);
}
.nav-container{
    position: relative;
    top: 50px;
    left: 140px;
    height: 70px;
    width: 80vw;
    /* border: 2px solid black; */
    /* background: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-img{
    height: 50px;
}
.nav-list{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.get_the_App{
    padding: 15px;
    border: 1px solid white;
    height: 60px;
    border-radius: 20px;
}
.signin_btn{
    padding: 15px;
    border: 1px solid white;
    background-color: black;
    height: 60px;
    border-radius: 20px;
}
/* ======================================================= */

.main-container {
   height: 100vh;
   width: 100vw;
   display: flex;
   background: rgb(255, 115, 0);
} 
.left-img{
    width: 25%;
    height: 100%;
}
.box-container{
    width: 50%;
    height: 100%;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-container h1{
    font-size: 47px;
    font-weight: 800;
    text-align: center;
    color: white;
}

.input-box{
    display: flex;
    gap: 10px;
}
.loc-box{
    height: 55px;
    background: white;
    border-radius: 20px;
    padding: 10px 10px;

}
.loc-box input{
    height: 40px;
    width: 200px;
    /* border-radius: 10px; */
    outline: none;
    border: none;
}
.loc-box i{
    font-size: 25px;
    color: red;
}
.search-box{
    height: 55px;
    background: white;
    border-radius: 20px;
    padding: 10px 10px;
}
.search-box input{
    height: 40px;
    width: 350px;
    /* border-radius: 10px; */
    outline: none;
    border: none;
}
.search-box i{
   font-size: 25px;
}
.card-container{
    /* background: green; */
    display: flex;
    gap: 20px;
}
.card{
    background: white;
    height: 270px;
    width: 100%;
    border-radius: 20px;
}
.card img{
    height: 100%;
    width: 100%;
}


.right-img{
    width: 25%;
    height: 100%;
}
/* ===================================================== */


.food-container{
    height: 100vh;
    width: 100vw;
    /* background: green; */
    padding: 130px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
}
.food-card img{
   height: 100%;
   width: 100%;
   cursor: pointer;
}


/* ======================================================= */

.insta-container{
    height: 55vh;
    width: 100vw;
    /* background: green; */
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.insta-container h1{
    font-size: 26px;
    font-weight: 800;
}
.insta-card{
    display: grid;
    grid-template-columns: repeat(6,1fr);
   text-align: center;
   cursor: pointer;
}
.insta-card img{
    height: 80%;
    width: 80%;
    cursor: pointer;
}

/* ============================================== */
.dineout-container{
    height: 100vh;
    width: 100vw;
    /* background: blue; */
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   

}
.dineout-card-cont{
    height: 65vh;
    width: 85vw;
    /* background: yellow; */
    display: flex;
    gap: 20px;
}
.dineout-card{
    height: 100%;
    width: 33vw;
    /* border: 1px solid grey; */
    box-shadow: 0px 0px 0px 1px ;
    border-radius: 20px;
    position: relative;
}
.dineout-card-up{
    height: 45%;
    width: 100%;
}
.dineout-card img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.dineout-card p{
    position: absolute;
    left: 10px;
    top: 150px;
    color: white;
    font-size: 22px;
    font-weight: 800;
}
.dineout-card-down{
    height: 53%;
    width: 99%;
    
}
.down-first-line{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 900;
    color: rgb(163, 146, 146);
}
.down-second-line{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 900;
    color: rgb(163, 146, 146);
}
.down-third-line {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 900;
    color: rgb(76, 60, 60);
}
.down-forth-line {
    display: flex;
    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    justify-content: space-between;
    background: rgb(186, 236, 186);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(6, 118, 88);
}
.down-fifth-line {
    display: flex;
    padding: 15px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    justify-content: space-between;
    background: rgb(186, 236, 186);
    border-radius: 10px;
    cursor: pointer;
    color: rgb(7, 80, 60);
    font-weight: 900;
}
/* ============================================================= */
.mobile-banner{
    height: 40vh;
    width: 100vw;
    background: red;
}
.mobile-banner img{
    height: 100%;
    width: 100%;
}
/* ==================================================================== */
.food-delivery-container{
    height: 70vh;
    width: 100vw;
    /* background: green; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.delivery-content{
    height: 100vh;
    width: 100%;
    /* background: red; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-top: 50px;
    padding-left: 30px;
    
    
}
.delivery{
    height: 60%;
    width: 90%;
    /* background: yellow; */
    border-radius: 10px;
    padding: 15px;
    border: 2px solid rgb(161, 143, 143);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
#see-more{
    color:red;
    font-size: 20px;
    font-weight: 900;
}
/* ================================================ */
.grocery-container{
    height: 70vh;
    width: 100vw;
    /* background: green; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.grocery-content{
    height: 100vh;
    width: 100%;
    /* background: red; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-top: 50px;
    padding-left: 30px; 
}
.grocery{
    height: 60%;
    width: 90%;
    /* background: yellow; */
    border-radius: 10px;
    padding: 15px;
    border: 2px solid rgb(161, 143, 143);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
#see-more{
    color:red;
    font-size: 20px;
    font-weight: 900;
}
/* ========================================================= */
.footer-container{
    height: 100vh;
    width: 100vw;
    background: rgb(224, 221, 221);
}